In [35]:
import pandas as pd
import re
df = pd.read_csv("./input.csv")
df.head()

                       value
0                  5ffour295
1  m9qvkqlgfhtwo3seven4seven
2          2vdqng1sixzjlkjvq
3      5twonineeight3onefive
4     2three2seveneightseven

In [11]:
def first_digit(input):
    return re.findall(r'\d',input)[0]

def last_digit(input):
    return re.findall(r'\d',input)[-1]

In [18]:

sum(df["value"].apply(first_digit).astype(int))*10+sum(df["value"].apply(last_digit).astype(int))

55017

In [36]:
nums = {
    "one": 1,
    "two": 2,
    "three": 3,
    "four": 4,
    "five": 5,
    "six": 6,
    "seven": 7,
    "eight": 8,
    "nine": 9,
    "zero": 0,
    "1": 1,
    "2": 2,
    "3": 3,
    "4": 4,
    "5": 5,
    "6": 6,
    "7": 7,
    "8": 8,
    "9": 9,
    "0": 0,
}

In [37]:
matches = list(nums.keys())
matches

['one',
 'two',
 'three',
 'four',
 'five',
 'six',
 'seven',
 'eight',
 'nine',
 'zero',
 '1',
 '2',
 '3',
 '4',
 '5',
 '6',
 '7',
 '8',
 '9',
 '0']

In [40]:
def digits_w_string(input):

    min = len(input)
    max = 0
    min_idx = -1
    max_idx = -1
    for i in range(len(matches)):
        new_min = input.find(matches[i])
        new_max = input.rfind(matches[i])
        if new_min < min and new_min != -1:
            min = new_min
            min_idx = i
        if new_max > max:
            max = new_max
            max_idx = i
    return nums.get(matches[min_idx]), nums.get(matches[max_idx])

In [28]:
a_string = "ooooo76sixrcznjkthreethree72nfour!"
matches = ["six", "two","four", "six","three", "1","2","3","4","5","6","7","8","9","0"]
min = len(a_string)
max = 0
min_idx = -1
max_idx = -1
for i in range(len(matches)):
    new_min = a_string.find(matches[i])
    new_max = a_string.rfind(matches[i])
    if new_min < min and new_min != -1:
        min = new_min
        min_idx = i
    if new_max > max:
        max = new_max
        max_idx = i
print(min, max)
print(min_idx,max_idx)

5 29
11 2

In [42]:
def tup_2_int(input):
    i = ''.join(str(x) for x in input)
    return int(i)

In [46]:
sum(df["value"].apply(digits_w_string).apply(tup_2_int))

53434