In [17]:
import pandas as pd
import re
df = pd.read_csv("./input.csv")
df.head()

              value
0          two1nine
1      eightwothree
2   abcone2threexyz
3       xtwone3four
4  4nineeightseven2

In [18]:
def my_replace(input):

    nums = ["zero","one", "two", "three", "four", "five", "six", "seven", "eight", "nine"]
    rep = ["0","1","2","3","4","5","6","7","8","9"]

    for i,s in enumerate(nums):
        idx = input.findall()

    return input

In [26]:
def find_all(string,substring):
    """
    Function: Returning all the index of substring in a string
    Arguments: String and the search string
    Return:Returning a list
    """
    length = len(substring)
    c=0
    indexes = []
    while c < len(string):
        if string[c:c+length] == substring:
            indexes.append(c)
        c=c+1
    return indexes

In [32]:
input = "one2sevenineightone"

nums = ["zero","one", "two", "three", "four", "five", "six", "seven", "eight", "nine"]
rep = ["0","1","2","3","4","5","6","7","8","9"]
l = []
for i,s in enumerate(nums):
    idxs = find_all(input,s)
    for idx in idxs:
        input = input[:idx+1] + rep[i] + input[idx+1:]
input

'1one27seve9nineigh1tone'

In [19]:
df["value"] = df["value"].apply(my_replace)
df.head()

       value
0        219
1     eigh23
2  abc123xyz
3     xtw134
4      49872

In [20]:
def first_digit(input):
    return re.findall(r'\d',input)[0]

def last_digit(input):
    return re.findall(r'\d',input)[-1]

In [21]:
sum(df["value"].apply(first_digit).astype(int))*10+sum(df["value"].apply(last_digit).astype(int))

211